body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #161616;
    color:whitesmoke;
    flex-direction: column;
    align-items: left;
  }

.title {
    width: 100%;
    text-align: center;
  }

.tablink {
  display: block;
}

.topnav {
    background-color: #333;
    height: 50px;
  }
  
.topnav button {
    background-color: rgb(62, 155, 231);
    border: 0.5px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    text-align: center;
    padding: 0px 20px;
    font-size: 20px;
    cursor: pointer;
    float: left;
    height: 100%;
  }

.topnav button:hover {
  background-color: rgb(72, 134, 185);
  }

.container {
    position: relative;
  }
  
.mySlides {
    display: none;
  }
  
.cursor {
    cursor: pointer;
  }
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.column {
    float: left;
    width: 16.66%;
  }
  
.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }